/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

label,
input {
  display: block;
}

/*  Default styles */

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  font-size: 90%;
  height: 100%;
  font-weight: 500;
}

/* Client Table Styles */

table {
  border-collapse: collapse !important;
  background-color: white;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
}

table,
thead {
  box-shadow: 0 1px 4px rgb(211, 211, 211);
}

table,
th,
td {
  border-right: 1px solid rgb(236, 235, 235);
}

table:last-child,
th:last-child,
td:last-child {
  border-right: none;
}

tbody {
  font-weight: 400;
}

th {
  text-transform: capitalize;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

td {
  font-weight: 500;
}

tr:nth-child(even) {
  background-color: rgb(247, 251, 255);
}

viewTable th,
td {
  padding: 1rem;
}
